
.loader 
{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 2s infinite;
}

.box .logo
{
    font-weight: bold;
    /* font-family: 'Lucida Handwriting', cursive; */
    font-size: 2em;
    /* padding: .7em 1.5em; */
    text-align: start;
    border: none;
    color: blue;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1em;
}
  
@keyframes l1 {to{transform: rotate(.5turn)}}