/* Login.css */
.user-profile 
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* height: 10vh; */
}

.popup 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #141413,  #d3d0d0);
    padding: 5px 20px;
    width: 50%;
    /* height: 100vh; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: .5em;
    border: 3px solid transparent; /* Transparent border for gradient effect */
    border-image: linear-gradient(to right, #d3d0d0, #141413); /* Gradient border color */
    border-image-slice: 1;
    transition: all .5s ease-in-out;
    /* overflow: auto; */
}


.popup h2 
{
   color: black;
   font-size: 1.1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'IM Fell English SC', fantasy;
   
}

.popup h2 span
{
   color: whitesmoke;
   /* font-size: 1.3em; */
   font-family: 'IM Fell English SC', fantasy;
}


.popup input 
{
    width: 80%;
    border: 2px solid black;
    padding: .5em;
    border: 2px solid transparent; 
    border-image: linear-gradient(to right, #d3d0d0, #141413);
    border-image-slice: 1;
    outline: none;
    cursor: pointer;
}

.popup input:focus 
{
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #141413,  #d3d0d0);
    border-image-slice: 1;
    transition: all .5s ease-in-out;
}

.button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8em;
}

.popup button 
{
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #141413,  #d3d0d0);
    border-image-slice: 1;
    padding: .5em 2em;
    width: 100%;
    /* font-size: 1em; */
    font-weight: bold;
    font-family: 'IM Fell English SC', fantasy;
}

.popup p
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    /* font-size: 1em; */
}

label
{
    color: whitesmoke;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: start;
    padding-left: 4em;
}



.show 
{
    display: block;
}
