/* Login.css */
.user-profile 
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* height: 10vh; */
}

.popup 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #0a9fefeb,  #edecec);
    padding: 5px 5em;
    width: 50%;
    /* height: 100vh; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: .5em;
    border: 3px solid transparent; /* Transparent border for gradient effect */
    border-image: linear-gradient(to right, #0a9fefeb, #edecec); /* Gradient border color */
    border-image-slice: 1;
    transition: all .5s ease-in-out;
    /* overflow: auto; */
}


.popup h2 
{
   color: black;
   font-size: 1.1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'IM Fell English SC', fantasy;
   
}

.popup h2 span
{
   color: white;
   /* font-size: 1.3em; */
   font-family: 'IM Fell English SC', fantasy;
}


.popup input 
{
    width: 100%;
    border: 2px solid black;
    padding: .5em;
    border: 2px solid transparent; 
    border-image: linear-gradient(to right, #0a9fefeb ,#d3d0d0,);
    border-image-slice: 1;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.popup input:focus 
{
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #d3d0d0,#0a9fefeb);
    border-image-slice: 1;
    transition: all .7s ease-in-out;
}

.button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8em;
}

.popup button 
{
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #141413,  #d3d0d0);
    border-image-slice: 1;
    padding: .5em 2em;
    width: 100%;
    /* font-size: 1em; */
    font-weight: bold;
    font-family: 'IM Fell English SC', fantasy;
}

.popup p
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    /* font-size: 1em; */
}

label
{
    color: whitesmoke;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: start;
    /* padding-left: 5em; */
    /* width: 80%; */
    
}



.show 
{
    display: block;
}


/* CHECKBOX */

/* Hide default checkbox */
.custom-checkbox 
{
    display: none;
}


.checkbox-wrapper 
{
    display: flex;
    flex-direction: column; 
    cursor: pointer;
    width: 100%;
    gap: .7em;
}

.checkbox-wrapper label 
{
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    cursor: pointer;
    color: black;
    font-weight: lighter;
}

.checkbox-wrapper label::before 
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked + label::before 
{
    background-color: #007bff; 
    border-color: #007bff;
}

.custom-checkbox:checked + label::after 
{
    content: '';
    position: absolute;
    left: 6px;
    top: 7px;
    width: 8px;
    height: 4px;
    border: solid white;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
}
