
/* NavBar */
.NavBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eeeded 100%);
    padding: 0 1em;
    border-bottom: 2px solid black;
    width: 100%;
}

.logo
{
    font-weight: bold;
    font-family:'Lucida Handwriting', cursive;
    font-size: 1.3em;
    /* padding: .7em 1.5em; */
    text-align: start;
    border: none;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em 3em; */
    gap: .5em;
}

.item
{
    padding: 0.5em 1em;
    font-weight: bold;
    font-family: 'Papyrus' ,fantasy;
    cursor: pointer;
}

.signIn
{
    display: flex;
    gap: .7em;
    align-items: center;
}

.NavBar button
{
    border: none;
    background-color: inherit;
    padding: .9em .4em;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .3em;
    color: blue;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Papyrus' ,fantasy;
}

.user-icon
{
    font-size: 1.2em;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
}



