  .recipe-grid 
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    /* padding: 20px; */
  }
  
  .recipe-card 
  {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 15px;
    text-align: center;
  }
  
  .recipe-card img 
  {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .recipe-card h2 
  {
    font-size: 1.1em;
    margin: 10px 0;
    /* font-family: 'Papyrus', fantasy; */
  }
  
  .recipe-card p 
  {
    font-size: 0.9em;
    color: #666;
  }
  