*body
{
  padding: 0;
  margin: 0;
}


/* APP WRAPPER */
.App
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  /* gap: 0.3em; */
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eeeded 100%);background-color: #eeeded;
}

/* ENDS */

/* HEADER */
header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0;
  width: 100%;
  box-sizing: border-box;
}
/* ENDS */

/* MAIN */
main
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: auto;
  /* padding: 0.4em; */
  align-items: center;
  box-sizing: border-box;
}

/* ENDS */

/* FOOTER */

footer
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: auto;
  padding: 0.4em;
  align-items: center;
  box-sizing: border-box;
}

/* ENDS */